/*color scheme used
 * Text-color used : #05386B
 * 
 * Bg-color used : 
 * 				Dark : #379683
 * 				medium : #5CDB95
 * 				light : #8EE4AF
 * 
 * white contrast used : #EDF5E1				
 */

body {
	overflow-y:hidden;
}
.navbar-myDesign{
	background-color: #5CDB95;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	font-size: 18px !important;
	border-bottom: 2px solid #05386B !important;
}
.collapse a{
	color: #05386B !important;
}
.collapse a:hover{
	background-color: #379683 !important;
}
.bars{
	background-color: white !important;
}
.jumbotron{
	background-color: #5CDB95 !important; 
	height: 95vh !important;
}
.myImgFormate{
	width: 25%; 
	height: 25%; 
	background-color: gray;
	border: 4px solid #379683;
}

.downArrow{
	margin-top: 120px; 
	width: 60px; 
	height: 60px;
	animation: bounce 1s;

}
/*CSS3 bounce animation*/

 @keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}